
<div class="container" align = "center">
<h1>Contact Us</h1>
<form class="example-form" [formGroup]="contactform" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="fname">
              </mat-form-field><br>

              <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lname">
                  </mat-form-field><br>

                  <mat-form-field class="example-full-width">
                        <input matInput placeholder="Phone" formControlName="phone">
                      </mat-form-field><br>

                      <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" formControlName="email">
                          </mat-form-field><br>
                          <br>
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Message" formControlName="message">Leave a message</textarea>
                            </mat-form-field><br>

    <button mat-button color="primary" type="submit" [disabled]= "!contactform.valid">Submit</button>


</form>

<!-- <p>
  Form Status: {{ contactform.value | json }}
</p> -->

</div>