        <mat-card class="example-card">
                <mat-card-title><h1 align="center">Nargis' Kitchen</h1>
                </mat-card-title>
                <mat-card-header>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Indian_Spices.jpg">
                </mat-card-header><br>
                <mat-card-subtitle align= "center"><h2>About</h2></mat-card-subtitle>
                <mat-card-content>
                        <p>
                                Centrally located in North Bay's downtown district, Nargis' Kitchen offers a comfortable environment for everyone. Come and enjoy our selection of homemade sandwiches, panini, wraps, salads and soups. Whether you're looking to relax over a cup of coffee or grab a quick bite to go, Nargis' Kitchen is for you.

                                Our mission is to serve the downtown business community by providing the highest-quality coffees, sandwiches, snacks, and baked goods in an atmosphere that meets the needs of customers who are in a hurry as well as those who want a place to relax and enjoy their beverages and food.
                        </p>
                      </mat-card-content>
            </mat-card>

            
